* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, form, button {
  outline: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  background-color: #f8f8f8;
  font-family: 'Commissioner', sans-serif;
}

.container {
  position: relative;
}

.container .checkbox {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid rgba(122, 122, 122, 0.3);
}

.container .checked ~ .checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #3cb4ac;
}

.header {
  position: relative;
  min-height: 300px;
  height: 40vh;
  padding: 8% 6%;
  background-image: url(../images/image-hero-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header__logo {
  position: absolute;
  z-index: 2;
  top: 8%;
  left: 6%;
}

.menu__hamburger, .menu__list {
  position: absolute;
  top: 8%;
  z-index: 2;
}

.menu__hamburger {
  right: 6%;
}

.menu__list {
  top: 80px;
  left: 6%;
  right: 6%;
  border-radius: 8px;
  background-color: #fff;
  list-style: none;
}

.menu__item {
  padding: 25px;
  font-weight: 500;
  font-size: 1.8rem;
}

.menu__item a {
  color: black;
  text-decoration: none;
}

.menu__item:nth-of-type(2) {
  border-top: 1px solid rgba(122, 122, 122, 0.3);
  border-bottom: 1px solid rgba(122, 122, 122, 0.3);
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 25px;
  position: absolute;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  padding: 0 6% 20%;
}

.content__intro, .content__summary, .content__about {
  padding: 12% 7%;
  border: 1px solid rgba(122, 122, 122, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-top: 50px;
  text-align: center;
}

.intro__logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro__title {
  width: 100%;
  font-size: 2.1rem;
  font-weight: 700;
}

.intro__txt {
  width: 100%;
  padding: 20px 0;
}

.intro__btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
}

.txt {
  color: #7a7a7a;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8;
}

.txt--lg {
  display: block;
  color: black;
  font-size: 3rem;
  font-weight: 700;
}

.txt--md {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.txt--sm {
  font-size: 1.3rem;
}

.btn {
  height: 56px;
  background-color: #3cb4ac;
  border: none;
  border-radius: calc(56px / 2);
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 56px;
}

.btn--sm {
  height: 48px;
  width: 160px;
  line-height: 48px;
  font-size: 1.4rem;
}

.summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

.summary__amount, .summary__backers, .summary__days-left {
  padding: 20px 0;
}

.summary__backers {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  border-top: 1px solid rgba(122, 122, 122, 0.4);
  border-bottom: 1px solid rgba(122, 122, 122, 0.4);
}

.about {
  position: relative;
}

.about__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.about__txt {
  padding-top: 10%;
}

.about__pledge {
  margin-top: 10%;
}

.about__closing-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.pledge {
  border: 1px solid rgba(122, 122, 122, 0.3);
  border-radius: 8px;
  padding: 8%;
}

.pledge--modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pledge--selected {
  border: 2px solid #3cb4ac;
}

.pledge__title, .pledge__pledge {
  font-size: 1.4rem;
  line-height: 1.6;
}

.pledge__title {
  color: black;
  font-weight: 700;
}

.pledge__pledge {
  color: #3cb4ac;
  font-weight: 500;
}

.pledge__txt {
  padding: 10% 0;
}

.pledge__pledge-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pledge__numbers {
  padding-right: 8px;
}

.pledge__btn {
  margin: 15px 50px 0 0;
}

.pledge__checkbox {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.pledge__enter-pledge {
  width: 100%;
}

.enter-pledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 15px;
  border-top: 1px solid rgba(122, 122, 122, 0.3);
}

.enter-pledge__txt {
  width: 100%;
  padding-top: 20px;
}

.enter-pledge__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

.enter-pledge__input {
  width: 42%;
  height: 48px;
  border-radius: 24px;
  border: 1px solid rgba(122, 122, 122, 0.3);
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 1.4rem;
  background-image: url(../images/dollar-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 1.4rem;
  background-position: 20% center;
}

.enter-pledge__input:focus {
  border: 1px solid #7a7a7a;
}

.enter-pledge__btn {
  width: 50%;
}

.progressbar {
  position: relative;
  width: 100%;
  height: 12px;
  margin-top: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.progressbar__filled {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  background-color: #3cb4ac;
}

.modal {
  position: absolute;
  top: 120px;
  left: 6%;
  right: 6%;
  z-index: 3;
  padding: 10% 6%;
  border-radius: 8px;
  background-color: #fff;
}

.inactive {
  opacity: 0.4;
}

.inactive .btn {
  background-color: #7a7a7a;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  opacity: 0.5;
}

.hidden {
  display: none;
}
