.about {
    position: relative;

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__txt {
        padding-top: 10%;
    }

    &__pledge {
        margin-top: 10%;
    }

    &__closing-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__logo {
        padding-bottom: 20px;
    }

    &__btn {
        width: 110px;
        margin-top: 30px;
    }
}