.inactive {
    opacity: 0.4;

    .btn {
        background-color: $dark-gray;
    }
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(black, transparent);
    opacity: 0.5;
}

.hidden {
    display: none;
}