.pledge {
    border: 1px solid rgba($dark-gray, 0.3);
    border-radius: 8px;
    padding: 8%;

    @media (min-width: $desktop-sm) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr auto;
        padding: 6% 8%;
        position: relative;
    }


    &--modal {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width: $desktop-sm)  {
            padding: 5% 5% 0;
        }        
    }

    &--selected {
        border: 2px solid $moderate-cyan;
    }

    &__title, &__pledge {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    &__title {
        color: $black;
        font-weight: 700;
        transition: 0.2s;

        @media (min-width: $desktop-sm) {
            grid-area: 1/1;
            font-size: 1.6rem;
        }

    }

    &__title--modal {
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            color: $moderate-cyan;
        }
    }

    &__pledge {
        color: $moderate-cyan;
        font-weight: 500;

        @media (min-width: $desktop-sm) {
            grid-area: 1/2;
            justify-self: end;
            padding-left: 20px;
        }
    }

    &__txt {
        padding: 10% 0;

        @media (min-width: $desktop-sm) {
            grid-area: 2/1/3/3;
            padding: 5% 0;
        }
    }

    &__txt--modal {
        @media (min-width: $desktop-sm) {
            padding-left: 10%;
        }
    }

    &__pledge-left {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        @media (min-width: $mobile-md) {
            justify-content: space-between;
        }

        @media (min-width: $desktop-sm) {
            grid-area: -1/1/-2/-1;
            position: static;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__container--modal {
        position: absolute;
        top: 13%;
        right: 5%;
    }

    &__numbers {
        padding-right: 8px;
    }

    &__btn {
        margin: 15px 50px 0 0;

        @media (min-width: $mobile-md) {
            margin: 0;
        }
    }

    &__checkbox {
        width: 22px;
        height: 22px;
        margin-right: 15px;
        
        @media (min-width: $desktop-sm) {
            margin-right: 30px;
        }
    }

    &__enter-pledge {
        width: 100%;
    }

}

.enter-pledge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    margin-top: 15px;
    border-top: 1px solid rgba($dark-gray, 0.3);

    @media (min-width: $desktop-sm) {
        margin: 0 0 20px;
        align-items: center;
    }


    &__txt {
        width: 100%;
        padding-top: 20px;

        @media (min-width: $desktop-sm) {
            width: auto;
        }

    }

    &__form {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        width: 100%;

        @media (min-width: $mobile-lg) {
            width: 80%;
            margin: 5% auto 0;
        }

        @media (min-width: $desktop-sm) {
            width: 40%;
            margin: 0;
            padding-top: 20px;
        }
    }

    &__input {
        width: 42%;
        height: $btn--sm-height;
        border-radius: $btn--sm-height / 2;
        border: 1px solid rgba($dark-gray, 0.3);
        text-align: center;
        color: $black;
        font-weight: 700;
        font-size: 1.4rem;

        background-image: url(../images/dollar-svgrepo-com.svg);
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: 20% center;

        &:focus {
            border: 1px solid $dark-gray;
        }
    }

    &__btn {
        width: 50%;
    }
}