$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);


$btn-height: 56px;
$btn--sm-height: 48px;

// breakpoints
$mobile-xs: 300px;
$mobile-md: 768px;
$mobile-lg: 1024px;

$desktop-sm: 1200px;
$desktop-lg: 1440px;
$desktop-xl: 1600px;
