@import 'reset';
@import 'variables';
@import 'base';
@import 'checkbox';

// klasa inactive -> niedostepne pledge

// klasa marked -> gby bookmark zaznaczony

.header {
    position: relative;
    min-height: 300px;
    height: 40vh;
    padding: 8% 6%;
    background-image: url(../images/image-hero-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    &__logo {
        position: absolute;
        z-index: 2;
        top: 8%;
        left: 6%;
    }
}

.menu {

    &__hamburger, &__list {
        position: absolute;
        top: 8%;
        z-index: 2;
    }

    &__hamburger {
        right: 6%;
    }

    &__list {
        top: 80px;
        left: 6%;
        right: 6%;
        border-radius: 8px;
        background-color: #fff;
        list-style: none;
    }

    &__item {
        padding: 25px;
        font-weight: 500;
        font-size: 1.8rem;
        
        a {
            color: $black;
            text-decoration: none;
        }
    }

    &__item:nth-of-type(2) {
        border-top: 1px solid rgba($dark-gray, 0.3);
        border-bottom: 1px solid rgba($dark-gray, 0.3);
    }
}



.content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;

    position: absolute;
    transform: translateY(-80px);
    padding: 0 6% 20%;

    &__intro, &__summary, &__about {
        padding: 12% 7%;
        border: 1px solid rgba($dark-gray, 0.1);
        border-radius: 8px;
        background-color: #fff;
    }
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
    padding-top: 50px;
    text-align: center;

    &__logo {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    &__title {
        width: 100%;
        font-size: 2.1rem;
        font-weight: 700;
    }

    &__txt {
        width: 100%;
        padding: 20px 0;
    }

    &__btn {
        flex-grow: 1;
        margin-right: 10px;
    }
}

.txt {
    color: $dark-gray;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;

    &--lg {
        display: block;
        color: $black;
        font-size: 3rem;
        font-weight: 700;
    }

    &--md {
        font-size: 1.8rem;
        font-weight: 700;
        color: black;
    }

    &--sm {
        font-size: 1.3rem;
    }
}

.btn {
    height: $btn-height;
    background-color: $moderate-cyan;
    border: none;
    border-radius: calc(#{$btn-height} / 2);
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: $btn-height;

    &--sm {
        height: $btn--sm-height;
        width: $btn--sm-width;
        line-height: $btn--sm-height;
        font-size: 1.4rem;
    }
}

.summary {
    display: grid;
    grid-template-columns: 1fr;

    text-align: center;

    &__amount, &__backers, &__days-left {
        padding: 20px 0;
    }

    &__backers {
        width: min-content;
        margin: 0 auto;
        border-top: 1px solid rgba($dark-gray, 0.4);
        border-bottom: 1px solid rgba($dark-gray, 0.4);
    }
}

.about {
    position: relative;

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__txt {
        padding-top: 10%;
    }

    &__pledge {
        margin-top: 10%;
    }

    &__closing-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__logo {
        padding-bottom: 20px;
    }

    &__btn {
        width: 110px;
        margin-top: 30px;
    }
}

.pledge {
    border: 1px solid rgba($dark-gray, 0.3);
    border-radius: 8px;
    padding: 8%;

    &--modal {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &--selected {
        border: 2px solid $moderate-cyan;
    }

    &__title, &__pledge {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    &__title {
        color: $black;
        font-weight: 700;
    }

    &__pledge {
        color: $moderate-cyan;
        font-weight: 500;
    }

    &__txt {
        padding: 10% 0;
    }

    &__pledge-left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__numbers {
        padding-right: 8px;
    }

    &__btn {
        margin: 15px 50px 0 0;
    }

    &__checkbox {
        width: 22px;
        height: 22px;
        margin-right: 15px;
    }

    &__enter-pledge {
        width: 100%;
    }

}

.enter-pledge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    margin-top: 15px;
    border-top: 1px solid rgba($dark-gray, 0.3);

    &__txt {
        width: 100%;
        padding-top: 20px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }

    &__input {
        width: 42%;
        height: $btn--sm-height;
        border-radius: $btn--sm-height / 2;
        border: 1px solid rgba($dark-gray, 0.3);
        text-align: center;
        color: $black;
        font-weight: 700;
        font-size: 1.4rem;

        background-image: url(../images/dollar-svgrepo-com.svg);
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: 20% center;

        &:focus {
            border: 1px solid $dark-gray;
        }
    }

    &__btn {
        width: 50%;
    }
}

.progressbar {
    position: relative;
    width: 100%;
    height: 12px;
    margin-top: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgb(240, 240, 240);

    &__filled {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        transform: translateX(-15%);
        background-color: $moderate-cyan;
    }
}

.modal {
    position: absolute;
    top: 120px;
    left: 6%;
    right: 6%;
    z-index: 3;
    padding: 10% 6%;
    border-radius: 8px;
    background-color: #fff;

    &--success {
        top: 150px;
        text-align: center;
    }
}

.inactive {
    opacity: 0.4;

    .btn {
        background-color: $dark-gray;
    }
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(black, transparent);
    opacity: 0.5;
}

.hidden {
    display: none;
}
